.container {
  font-size: 14px;
 }
 .container .header {
  font-size: 18px;
 }
 .container .shop-list {
  list-style: none;
  margin-left: -15px;
 }
 /* .container .shop-list li.item { */
    .container ul.shop-list .item { 
    /* 我會把選擇器改成上面這行這樣跟另一個 */
  color: green;
 }
 /* .container .shop-list .item { */
  .container ol.shop-list .item { 
    /* 我會把選擇器改成上面這行這樣跟另一個 */
  /* Explain why does this color not works, and how to fix make it work on
 1st list */
 /* 因為html元素中有兩個shop-list 的class 優先級來說, .container .shop-list li.item會比較高*/
  color: blue;
 }
 /* Write styling make every other line give background color to next one */
 .container .shop-list li:nth-child(even) {
  background-color: rgb(98, 215, 43); 
}

.container .shop-list li:nth-child(odd) {
  background-color: #dc1010; 
}
